<div class="row">
  <div style="height: 50px;">

  </div>
  <div style="margin-left: 150px;">
    <div>
      <label>
        Total Budget :
      </label><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input type="number" placeholder="Add your total buget" [(ngModel)]="budget">
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="btn btn-primary" (click)="updateBudget(budget)">Update</button>
    </div>
    <br>
    <br>
    <div>
      <label>
        CategoryName :
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </label>
      <input type="text" [(ngModel)]="cName" placeholder="Add Category Name">
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="btn btn-primary" (click)="addCategory(cName)">Add</button>
    </div>
  </div>
  <br>
  <br>
  <div>
    <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4"></div>
    <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>CategoryName</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of categoryList;let i = index">
            <td>{{data.categoryName}}</td>
            <td class="text-center">
              <button (click)="deleteCategory(data,i)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4"></div>

  </div>


</div>